.checkboxInput {
    display: none;
}

.checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid var(--additional-color);
    box-sizing: border-box;
    position: absolute;
    right: 0;
}

.checkboxLabel {
    cursor: pointer;
    color: var(--text-color);
    padding-right: 20px;
    position: relative;
    user-select: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.checkboxLabel:hover .checkbox {
    outline: 2px double var(--secondary-color);
    transition: 0.2s;
}

.checkbox::after {
    content: '';
    display: none;
    position: absolute;
    width: 4px;
    height: 12px;
    border-bottom: 2px solid var(--button-color);
    border-right: 2px solid var(--button-color);
    border-radius: 1px;
    box-sizing: border-box;
    left: 6px;
    transform: rotate(45deg);
}

.checkboxContainer:has(input:checked) .checkbox::after {
    display: block;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}