@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

* {
  margin: 0;
  --base-color: #0d19a3;
  --text-color: #15db95;
  --button-color: #0873a5;
  --secondary-color: #f4e4c1;
  --additional-color: #e3c580;
}

html {
  width: 100vw;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Jura', cursive, sans-serif;
  font-size: 14px;
  color: var(--text-color)
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--base-color);
}